
}
.section {
    background-color:black;
    text-align: left;
    border: black 10px;
    padding: 30px;
    margin: 10px;
  }
  .section ul {
      color: antiquewhite;
      font-size: large;
      font-style: bold;
  }
  
  .section li {
    height: 50px;
    width: 300px;
    padding: 2px 4px 2px 4px;
    color: #818181;

  }
  
  .section li:hover {
    color: #f1f1f1;
  }
  .main-header {
      background-color:black;
      
  }
.band-logo {
    display: inline-block;
}
.first-heading {
    text-align: center;
    background-color:black;
    color: white;
    text-decoration: white underline;
}

.carousel-item {
    width: 300px;
    height: 500px;
}

.main {
    display:flex;
    background-color: #096879;
}
.main-text {
   display:inline-block;
   text-align: auto;
   line-height: 3;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-weight: bolder;
}
.main-text h2 {
    text-align: center;
    font-weight: 800;
}
footer {
    color: #000;
    background-color: #096879;
    text-align: center;
}
